@import url("./globalStyles.css");

.header {
  width: 100%;
  padding-inline: clamp(16px, 2.912px + 1.667vw, 24px);

  background: var(--gray-1, #191c1f);
  border-bottom: 2px solid var(--brand-1, #4c6ef5);

  position: sticky;
  top: 0;
  z-index: 1;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 2.912px + 1.669vw, 20px) 0;
}

.header__button {
  padding: clamp(9.008px, 1.2px + 1.836vw, 20px)
    clamp(15.008px, 2.944px + 2.838vw, 32px);

  border: 0.0625rem solid var(--gray-7, #f8f9fa);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(5.008px, 1.456px + 0.835vw, 10px);

  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(8px, 2.336px + 1.333vw, 16px);

  color: var(--gray-7, #f8f9fa);

  cursor: pointer;
}

.banner {
  width: 100%;
  padding: clamp(125.008px, 36.464px + 20.833vw, 250px) 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--gray-2, #212529);
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(22px, 6.416px + 3.667vw, 44px);
}

.banner__title {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(25.008px, 5.872px + 4.5vw, 52px);
  line-height: 140%;
  color: var(--gray-6, #edf2ff);
}

.banner__highlight {
  color: var(--brand-1);
}

.banner__description {
  max-width: 770px;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(10px, 2.912px + 1.667vw, 20px);
  text-align: center;
  line-height: 150%;

  color: var(--gray-4, #adb5bd);
}

.banner__button {
  height: auto;
  padding: clamp(10px, 2.912px + 1.667vw, 20px);

  border: 0.0625rem solid var(--brand-1, #4c6ef5);
  background: var(--brand-1, #4c6ef5);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5.008px, 1.456px + 0.833vw, 10px);

  font-family: Inter;
  color: var(--gray-7, #f8f9fa);
  font-size: clamp(8px, 2.336px + 1.333vw, 16px);
  font-weight: 600;

  cursor: pointer;
}

.about {
  padding: clamp(40px, 10.256px + 7vw, 82px) 0;
  height: 17.75rem;

  background: var(--gray-1, #191c1f);
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(25.008px, 3.04px + 5.167vw, 56px);
}

.about__title {
  width: 620px;
  max-width: 100%;

  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(20px, 5.808px + 3.339vw, 40px);

  line-height: 160%;
  color: var(--gray-6, #edf2ff);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about__description {
  max-width: 55%;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(9.008px, 1.2px + 1.836vw, 20px);
  text-align: justify;
  color: var(--gray-5, #ced4da);
  line-height: 150%;
}

.faq {
  margin-top: clamp(16px, 2.912px + 1.667vw, 24px);
  /* padding: clamp(40px, 10.256px + 7vw, 82px); */

  display: flex;
  margin-inline: auto;
  gap: clamp(25.008px, 3.04px + 5.167vw, 56px);

  background: var(--gray-2, #212529);
}

.faq__content {
  display: flex;
}

.faq__left {
  max-width: 50%;
  height: 17.5rem;
  padding-right: clamp(43.008px, 11.84px + 7.333vw, 87.008px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(15.008px, 2.256px + 3vw, 33.008px);

  position: sticky;
  top: 110px;
}

.faq__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(15.008px, 2.256px + 3vw, 33.008px);
}

.faq__title {
  display: flex;

  color: var(--gray-6, #edf2ff);
  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(18px, 2.384px + 3.673vw, 40px);
  line-height: 160%;
}

.faq__intro-description {
  color: var(--gray-4, #adb5bd);

  text-align: justify;
  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(10px, 2.912px + 1.669vw, 20px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq__button {
  width: 16.625rem;
  height: 3.75rem;
  padding: clamp(10px, 2.912px + 1.669vw, 20px);

  border: 0.0625rem solid var(--brand-1, #4c6ef5);
  background: var(--brand-1, #4c6ef5);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5.008px, 1.456px + 0.835vw, 10px);

  font-family: Inter;
  color: var(--gray-7, #f8f9fa);
  font-size: clamp(8px, 2.32px + 1.336vw, 16px);
  font-weight: 600;
  line-height: 150%;

  cursor: pointer;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 8.72px + 5.008vw, 60px);
}

.faq__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: (13.008px, 3.776px + 2.17vw, 26px);
}

.faq__question {
  margin-top: 0;

  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(15.008px, 2.944px + 2.838vw, 32px);
  color: var(--gray-6, #edf2ff);
}

.faq__answer {
  max-width: 100%;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(10px, 2.912px + 1.669vw, 20px);
  color: var(--gray-4, #adb5bd);

  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.comments {
  height: 1387px;
  padding: clamp(40px, 10.208px + 7.012vw, 82px) 0;

  display: flex;

  background: var(--gray-2, #212529);
}

.comments__content {
  display: flex;
  flex-direction: row-reverse;

  gap: clamp(28px, 8.128px + 4.674vw, 56px);
}

.comments__right {
  max-width: 580px;
  height: 443px;
  padding-left: clamp(43.2px, 12.544px + 7.212vw, 86.4px);

  flex: 1;
  display: flex;

  position: sticky;
  top: 128px;
}

.comments__intro {
  max-width: 493px;
  height: 443px;
  padding: clamp(40px, 11.616px + 6.678vw, 80px)
    clamp(25.008px, 5.84px + 4.508vw, 52px);

  display: flex;
  flex-direction: column;
  gap: clamp(17.008px, 4.224px + 3.005vw, 35.008px);

  background: var(--brand-1, #4c6ef5);
}

.comments__title {
  max-width: 24.3125rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(1.188rem, 0.256rem + 3.506vw, 2.5rem);
  line-height: 160%;
  color: var(--gray-7, #f8f9fa);
}

.comments__intro-description {
  max-width: 24.3125rem;

  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(0.563rem, 0.075rem + 1.836vw, 1.25rem);
  line-height: 150%;
  color: var(--gray-7, #f8f9fa);
}

.comments__list {
  max-width: 620px;
  width: 620px;

  display: flex;
  flex-direction: column;
  gap: clamp(40px, 10.208px + 7.012vw, 82px);
}

.comments__item {
  max-width: 620px;
  height: 179px;

  display: flex;
  gap: clamp(5.008px, 1.456px + 0.835vw, 10px);
}

.comments__author {
  max-width: 192px;

  display: flex;
  flex-direction: column;
  gap: clamp(4px, 1.168px + 0.668vw, 8px);
}

.comments__author-name {
  width: 200px;
  max-width: 200px;
  margin: 0 auto;

  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: clamp(15.008px, 4.352px + 2.504vw, 30px);
  line-height: 160%;
  color: var(--gray-6, #edf2ff);

  display: flex;
  justify-content: flex-start;
}

.comments__author-info {
  width: 188.8352px;
  max-width: 176px;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(8px, 2.32px + 1.336vw, 16px);
  line-height: 160%;
  color: var(--gray-4, #adb5bd);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comments__text {
  max-width: 412px;

  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: clamp(9.008px, 2.608px + 1.503vw, 18px);
  line-height: 150%;
  color: var(--gray-5, #ced4da);
  text-align: justify;

  display: flex;
  align-items: flex-start;
}

.footer {
  max-width: 100%;
  padding: clamp(25.008px, 7.264px + 4.174vw, 50px)
    clamp(375.008px, 91.2px + 66.778vw, 775.008px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(16px, 2vw, 10px);

  background: var(--gray-1, #191c1f);
}

.footer img {
  fill: #edf2ff;
}

.modal {
  width: 512px;
  height: 416px;
  margin: 152px auto;
  padding: 40px 28px;

  border: 2px solid var(--brand-1, #4c6ef5);
  background: var(--gray-2, #212529);
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__close {
  width: 448px;
  height: 51px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.modal__title {
  width: 142px;
  height: 51px;

  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  color: var(--gray-7, #f8f9fa);
  font-size: 32px;
  line-height: 160%;
  text-align: center;
}

.modal__close-button {
  width: 38px;
  height: 32px;
  padding: 12px;
  border-radius: 4px;
  background: var(--gray-3, #343a40);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--gray-4, #adb5bd);
  text-align: center;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;

  cursor: pointer;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
}

.modal__description {
  width: 448px;
  height: 72px;

  color: var(--gray-4, #adb5bd);
  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: 16px;
  line-height: 150%;
}

.modal__input {
  width: 408px;
  height: 30px;
  padding: 14px 20px;

  display: flex;
  align-items: flex-start;
  gap: 10px;

  border: 1px solid var(--gray-1, #191c1f);
  background: var(--gray-1, #191c1f);
}

.modal__input::placeholder {
  width: 118px;
  height: 30px;

  color: var(--gray-4, #adb5bd);
  font-family: var(--font-family);
  font-weight: var(--font-w-400);
  font-size: 20px;
  line-height: 150%;

  display: flex;
  align-items: center;
}

.modal__button {
  width: 448px;
  height: 60px;
  padding: 0 32px;
  border: 1px solid var(--brand-1, #4c6ef5);
  background: var(--brand-1, #4c6ef5);

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--gray-7, #f8f9fa);
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-w-600);
  font-size: 16px;
  line-height: 150%;

  cursor: pointer;
}

dialog::backdrop {
  background: rgba(25, 28, 31, 0.8);
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: auto;
  }
  .about {
    max-width: 100%;
    height: auto;
  }

  .about__content {
    flex-direction: row;
    padding-inline: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .about__title {
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .about__description {
    font-size: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem);
  }
  .faq {
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .faq__content {
    gap: clamp(1.625rem, 0.295rem + 5.008vw, 3.5rem);
  }
  .faq__left {
    max-width: 100%;
    padding-right: 0;
  }
  .faq__title {
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .faq__intro-description {
    font-size: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem);
  }
  .faq__button {
    padding: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem)
      clamp(0.813rem, 0.236rem + 2.17vw, 1.625rem);
  }
  .faq__item {
    flex-direction: column;
  }
  .faq__question {
    font-size: clamp(0.75rem, 0.129rem + 2.337vw, 1.625rem);
  }
  .faq__answer {
    font-size: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem);
  }
  .comments {
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
    height: auto;
    margin-top: 3.125rem;
  }
  .comments__right {
    padding-left: 0;
    margin: 0 auto;
  }
  .comments__intro {
    max-width: 85%;
    height: 18rem;
    padding: clamp(1.188rem, 0.345rem + 3.172vw, 2.375rem) 0;
    align-items: center;
    justify-content: center;
  }
  .comments__title {
    max-width: 80%;
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .comments__intro-description {
    max-width: 80%;
    font-size: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem);
  }
  .comments__list {
    max-width: 35%;
  }
  .comments__item {
    flex-direction: column;
    max-width: 100%;
  }
  .comments__author {
    max-width: 100%;
    flex-direction: row;
  }
  .comments__text {
    max-width: 100%;
    font-size: clamp(0.5rem, 0.145rem + 1.336vw, 1rem);
  }
  .footer {
    height: 5rem;
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .footer img {
    font-size: clamp(9.6px, 0.8vw, 16px);
  }
}

@media screen and (max-width: 769px) {
  .header {
    height: auto;
  }
  .about {
    max-width: 100%;
    height: auto;
  }

  .about__content {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-inline: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .about__title {
    max-width: 100%;
    align-items: center;
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .about__description {
    max-width: 100%;
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }
  .faq {
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .faq__content {
    flex-direction: column;
    gap: clamp(1.625rem, 0.295rem + 5.008vw, 3.5rem);
  }
  .faq__left {
    max-width: 100%;
    padding-right: 0;
    position: 0;
  }
  .faq__title {
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .faq__intro-description {
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }
  .faq__button {
    padding: clamp(0.5rem, 0.057rem + 1.669vw, 1.125rem)
      clamp(0.813rem, 0.236rem + 2.17vw, 1.625rem);
  }
  .faq__item {
    flex-direction: column;
  }
  .faq__question {
    font-size: clamp(0.75rem, 0.129rem + 2.337vw, 1.625rem);
  }
  .faq__answer {
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }
  .comments {
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
    height: auto;
    margin-top: 3.125rem;
  }
  .comments__content {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .comments__right {
    padding-left: 0;
    margin: 0 auto;
    position: 0;
  }
  .comments__intro {
    max-width: 100%;
    height: auto;
    padding: clamp(1.188rem, 0.345rem + 3.172vw, 2.375rem) 0;
    align-items: center;
    justify-content: center;
  }
  .comments__title {
    /* max-width: 100%; */
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .comments__intro-description {
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }

  .comments__item {
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }
  .comments__author {
    flex-direction: row;
  }
  .comments__text {
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }
  .footer {
    height: 5rem;
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .footer img {
    font-size: clamp(9.6px, 0.8vw, 16px);
  }
}

@media screen and (max-width: 425px) {
  .header__button {
    display: none;
  }

  .comments__right {
    padding-left: 0;
    margin: 0 auto;
    position: 0;
  }
  .comments__intro {
    margin-right: 333px;
    max-width: 60%;
    flex-direction: column;
    align-items: center;

    align-items: center;
    justify-content: center;
  }
  .comments__title {
    max-width: 100%;
    font-size: clamp(0.938rem, 0.184rem + 2.838vw, 2rem);
  }
  .comments__intro-description {
    font-size: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
  }

  .comments__text {
    max-width: 43%;
  }
  .footer {
    height: 5rem;
    padding: clamp(1rem, 0.182rem + 1.667vw, 1.5rem);
  }
  .footer img {
    font-size: clamp(9.6px, 0.8vw, 16px);
  }
}
